{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__COOKIE__"          : false,
    "__DEV__"             : false,
    "__PROD__"            : false,
    "__DEBUG__"           : false,
    "__COVERAGE__"        : false,
    "__BASENAME__"        : false,
    "__API__"             : false,
    "__REQUEST_TIMEOUT__" : false,
    "__AUTH__"            : false,
    "__ROUTES__"          : false,
    "__THEME__"           : false
  },
  "rules": {
    "key-spacing" : [2, {
      "singleLine" : {
        "beforeColon" : false,
        "afterColon"  : true
      },
      "multiLine" : {
        "mode"        : "strict",
        "beforeColon" : false,
        "afterColon"  : true
      }
    }],
    "generator-star-spacing"       : 1,
    "jsx-quotes"                   : [2, "prefer-single"],
    "max-len"                      : [2, 120, 2],
    "object-curly-spacing"         : [2, "always"],
    "comma-dangle"                 : [2, "always-multiline"]
  }
}
